/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/06/2019, 09:37:23 PM
    Author     : Fer Enriquez'
*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS", Helvatica, sans-serif;
}

main {
  height: 100%;
  width: 100%;
}

aside {
  background-color: #F7EFED;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  z-index: 1;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

label {
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: fixed;
}

.bar {
  display: block;
  background-color: white;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
}

.content {
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  background: linear-gradient(35deg, #7FAFB8,#33546D);
  z-index: 2;
  transition: transform .5s ease-in-out;
  text-align: center;
}

h1 {
  margin: 0;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-size: 40px;
}

.asideList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, .7);
}

.asideAnchor {
  border-bottom: 2px solid rgba(255, 255, 255, .7);
  padding: 20px 0;
  display: block;
  color: #33546D;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: color .3s .15s ease-in;
}

.asideAnchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #7FA7B8;
  width: 0;
  transition: width .3s ease-in;
  z-index: -1;
}

.asideAnchor:hover {
  color: #33546D;
}

.asideAnchor:hover::after {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .content {
  transform: translateX(20%);
}

input[type="checkbox"]:checked ~ label .bar {
  background-color: #33546D;
}

input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

.ua {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: white;
  font-size: 2em;
  z-index: 2;
}
/*
    ALERT BUTTON
*/
@keyframes button-loading {
  20% {
    color: transparent;
    transform: scale(1, 1);
  }
  40% {
    border-color: white;
    background-color: white;
    transform: scale(1, 1);
  }
  60% {
    transform: scale(0.7, 1.1);
    margin-left: 1.25rem;
    width: 50px; /*100*/
    height: 50px; /*100*/
    text-indent: -0.6125rem;
    color: transparent;
    border-color: white;
    background-color: white;
  }
  80% {
    transform: scale(1, 1);
  }
  100% {
    margin-left: 1.25rem;
    width: 50px;
    height: 50px;
    background-color: white;
    border-color: white;
    color: transparent;
  }
}
@keyframes button-dot-intro {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.75, 0.75);
  }
}
@keyframes button-dot-pulse {
  0% {
    opacity: 1;
    transform: scale(0.75, 0.75);
  }
  15% {
    transform: scale(0.85, 0.85);
  }
  45% {
    transform: scale(0.75, 0.75);
  }
  55% {
    transform: scale(0.95, 0.95);
  }
  85% {
    transform: scale(0.75, 0.75);
  }
  100% {
    opacity: 1;
    transform: scale(0.75, 0.75);
  }
}
@keyframes button-ready {
  0% {
    margin-left: 1.25rem;
    width: 2.5rem;
  }
  10% {
    background-color: #377375;
    border-color: #377375;
  }
  70% {
    margin: 0;
    width: 7.25rem;
    background-color: #fff;
    transform: scale(1.1, 1.1);
  }
  100% {
    margin: 0;
    width: 100px;
    height: 100px
    border-color: white;
    border-radius: 50%
    background-color: #8cce1c;
  }
}
@keyframes button-dot-outro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1, 1);
  }
}
@keyframes button-ready-label {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  position: relative;
  overflow: hidden;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  background-color: #CE4A50; /**/
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.125rem;
  outline: none;
  transition: transform .125s;
  width: 100px;
  height: 100px;
  top: 50%;
}
button:active {
  transform: scale(0.9, 0.9);
}
button:before, button:after {
  position: absolute;
  opacity: 0;
  border-radius: 50%;
  background-color: #8cce1c;
  top: 17%;
  left: 17%;
  margin-top: -1.125rem;
  margin-left: -1.125rem;
  width: 100px;
  height: 100px;
  z-index: 1;
}
button.loading {
  animation: button-loading .5s forwards;
}
button.loading:before {
  opacity: 1;
  animation: button-dot-intro .5s forwards;
}
button.loading:after {
  opacity: 0;
  animation: button-dot-pulse 1.5s infinite .5s;
}
button.ready {
  text-indent: 0;
  color: transparent;
  background-color: #517C63;  
  width: 100px;
  height: 100px;
  animation: button-ready .333s forwards;
}
button.ready:before {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-color: black;
  border-radius: 50%;
  background-color: #517C63;
  color: white;
  font-weight: bold;
  content: 'SENT';
  opacity: 0;
  top: 50%;
  z-index: 2;
  padding-left: 22px;
  
  animation: button-ready-label .5s forwards .275s;
}
button.ready:after {
  opacity: 1;
  animation: button-dot-outro .333s;

  width: 100px;
  height: 100px;
}


